
@model IEnumerable<BigSchool.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
@using BigSchool.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@{ 
    var sysFind = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
}

<div class="row">
    <ul class="course">
        @foreach (var item in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @item.DateTime.ToString("MM")                        
                    </div>
                    <div class="day">
                        @item.DateTime.ToString("dd")                        
                    </div>
                    
                </div>
                <div class="details">
                    <span class="lecture">
                        @sysFind.FindById(item.LectureId).Name
                    </span>
                    <span class="category">
                        @item.Category.Name
                    </span>
                    <button data-course-id="@item.Id" class="btn btn-default btn-sm js-tongle-attendances">Going?</button>
                </div>

            </li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>


   
         
        

